#container {
  width: 500px;
  margin: auto;
}
.button {
  width: 200px;
  height: 50px;
  float: left;
  line-height: 45px;
  color: white;
  margin-left: 10px;
  text-align: center;
  border-radius: 5px;

  &--rood {
    background-color: #e43c3c;
    border-bottom: #ad1e1e solid 3px;
    border-right: #ad1e1e solid 2px;

    &:hover {
      background-color: red;
    }
  }
  &--blauw {
    background-color: #5050ff;
    border-bottom: #3b3bd4 solid 3px;
    border-right: #3b3bd4 solid 2px;

    &:hover {
      background-color: blue;
    }
  }

}
